* {
  padding: 0;
  margin: 0;
}
html {
  min-width: 520px;
}
body {
  padding: 0;
  margin: 0;
  min-width: 520px;
  overflow: hidden;
  /*
    a:-webkit-any-link {
        color: -webkit-link;
        text-decoration: underline;
        cursor: auto;
    }*/

}
body a:visited,
body a:active,
body a:hover {
  text-decoration: none;
  color: white;
}
body a {
  cursor: default;
}
body .body_wrap1 {
  float: left;
  width: 100%;
  height: 100%;
  background: url(../images/vobble_page.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body .body_wrap2 {
  float: left;
  width: 100%;
  height: 100%;
  background: url(../images/soundig/index/back2.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body .body_wrap3 {
  float: left;
  width: 100%;
  height: 100%;
  background: url(../images/soundig/index/back3.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body .body_wrap4 {
  float: left;
  width: 100%;
  height: 100%;
  background: url(../images/soundig/index/back4.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body .body_wrap5 {
  float: left;
  width: 100%;
  height: 100%;
  background: url(../images/soundig/index/back5.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body .content_wrap {
  margin: 0 auto;
  margin-top: 100px;
  width: 1000px;
  height: 1500px;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
}
body .content_wrap .youtube_wrap{
  margin-top: 130px;
}
body .background_img {
  float: left;
  marin-left: auto;
}
body #iphone_button {
  position: absolute;
  top: 435px;
  left: 220px;
}
body #android_button {
  position: absolute;
  top: 435px;
  left: 520px;
}
body div.plugin_wrap {
  position: absolute;
  top: 600px;
  left: 270px;
  width: 250px;
}
body div.plugin_wrap div.facebook_wrap {
  float: right;
}
body div.plugin_wrap div.twitter_wrap {
  float: right;
  margin-right: 50px;
}
body div.footer_wrap div.copywrite {
  position: absolute;
  text-align: right;
  right: 40px;
  bottom: 20px;
  overflow: hidden;
  display: block;
  color: rgba(255, 255, 255, 0.25);
  font-size: 12px;
  font-weight: bold;
}
body div.footer_wrap h3 {
  color: rgba(255, 255, 255, 0.25);
}
